<!DOCTYPE html>
<html>
<head>
    <title>Default</title>
</head>
<body>
    <form action="~/Name.cshtml" method="post">
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" name="name"></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>
